.main-dashboard {
  width: 60%;
  margin: 0 auto 120px auto;
  padding-left: 212px;
}

.container-dashboard {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1024px) {
  .main-dashboard {
    width: 80%;
    margin: 112px 10% 120px 10%;
    padding: 0;
  }
  .container-dashboard {
    flex-direction: column;
  }
}

.teste {
  margin-left: 80px;
}
