@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --primary-color: #5E60CE;
    --secunday-color: #474898;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fa;
}


/* animações */
@keyframes glow {
    from {background-color: #EEE;}
    to {background-color: #f7f9fa;}
}


/* estilizando cards */
.main-card {
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 12px;
    padding: 24px;
}


/* estilizando modal */
.main-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* estilizando botão */
.main-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
    transition: all ease 300ms;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button:hover {
    background-color: var(--secunday-color);
}


/* Estilizando input */
.main-input {
    margin: 4px 0 8px 0;
    padding: 12px;
    border: var(--primary-color) 2px solid;
    border-radius: 4px;
    transition: all ease 300ms;
    outline: none;
}

.main-input:focus, .main-input:hover {
    border: var(--secunday-color) 2px solid;
    background-color: #f1f1f1;
    border-radius: 4px;
}


/* Estilizando páginas de formulário */
.form-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

@media only screen and (max-width: 1024px) {
  .form-login { width: calc(80vw - 32px); }
}


/* tags de responsividade */
.hidden-mobile { display: flex }
.show-mobile { display: none }

@media only screen and (max-width: 1024px) {
    .hidden-mobile { display: none }
    .show-mobile { display: flex }
}


/* dashboard */
.abraconta {
    background-color: #5e60ce;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .abraconta .content {
    color: #ffffff;
    font-size: 80px;
  }
  
  .pecaagora {
    background: linear-gradient(rgba(67, 69, 199, 0.4), rgba(67, 69, 199, 0.4)),
      url("../assets/peoplebg.png") no-repeat;
    padding-top: 80%;
    position: relative;
  }
  
  .pecaagora .text,
  .pecaagora .text p.legend,
  .pecaagora .text p {
    color: #ffffff;
    font-size: 120px;
    top: 40px;
    width: 100%;
    position: absolute;
  }
  
  .pecaagora .text p {
    margin: 0 0 50px 80px;
  }
  .pecaagora .text p.legend {
    font-size: 40px;
    margin-left: 150px;
    position: absolute;
    top: 520px;
  }
  
  .cards {
    display: flex;
  }
  
  .card img {
    width: 70%;
    margin-top: -40px;
    margin-left: -140px;
  }