/* dashboard */
.abraconta {
  padding-top: 180px;
  background-color: #5e60ce;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10%;
  height: 100vh;
}

.abraconta img {
  width: 40vw;
  height: 40vw;
}

.abraconta .content {
  color: #ffffff;
  font-size: 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

/* aaaaaaa */

.pecaagora {
  background: linear-gradient(rgba(67, 69, 199, 0.6), rgba(67, 69, 199, 0.6)),
    url("../assets/peoplebg.png") no-repeat;
  position: relative;
  background-size: cover;
  padding: 40px 10% calc(100vh - 340px) 10%;
  color: #fff;
}

.pecaagora .title {
  font-size: 72px;
}
.pecaagora .legend {
  font-size: 24px;
  margin-top: 40px;
}

/* aaaaaaa */

.cards {
  display: flex;
  color: var(--secunday-color);
}

.card img {
  height: 100vh;
  margin-top: -40px;
  margin-left: -140px;
}

.cards .title {
  font-size: 72px;
  margin-bottom: 40px;
}

.cards .text {
  font-size: 24px;
}
.cards .content {
  margin: 80px 0 0 20vw;
}

/* aaaaaaa */

#cadastro {
  background-color: var(--primary-color);
  padding: 80px 10%;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 212px);
}

#cadastro h1 {
  font-size: 72px;
  color: #fff;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: center;
}

/* Responsividade */
@media only screen and (max-width: 1024px) {
  .abraconta img {
    display: none;
  }
  .abraconta .content {
    margin: 0;
  }
  .abraconta .content .title {
    margin-bottom: 64px;
    font-size: 40px;
  }

  .pecaagora .title {
    font-size: 40px;
  }
  .pecaagora .legend {
    font-size: 20px;
  }

  .card img {
    display: none;
  }
  .cards .title {
    font-size: 40px;
  }
  .cards .text {
    font-size: 20px;
    margin: 0 10% 240px 0;
  }

  #cadastro {
    flex-direction: column;
  }
  #cadastro h1 {
    font-size: 40px;
  }
  .form-cadastro {
    width: 80vw;
  }
}
