.title-dashboard {
    font-size: 28px;
    color: var(--primary-color);
    font-weight: bold;
    margin: 40px 0;
}

/* Estilização dos cards */
.containers-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 64px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 24vw;
}

/* Estilização da tabala */
.table-dashboard, .table-dashboard thead, .table-dashboard tbody, .table-dashboard tr, .table-dashboard th, .table-dashboard td { width: 100% }

.table-dashboard thead {
    background-color: var(--secunday-color);
    color: #fff;
}

.table-dashboard tr, .table-dashboard th {
    display: flex;
    width: 100%;
    padding: 8px;
}

@media only screen and (max-width: 1024px) {   
    .containers-cards {
        flex-direction: column;
    }
    .card-dashboard {
        width: calc(100% - 48px)
    }
    .containers-cards .credit-card {
        margin-top: 40px;
    }
}